@font-face {
	font-family: 'p4pc';
	src:url('fonts/LeagueGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'p4pcscore';
	src:url('fonts/earthsmightiestexpand.ttf') format('truetype');
}

.commtag {
	position:absolute;
	overflow: visible;
	width:300px;
    z-index: 100;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 
	    3px 3px #000,
		3px 3px #000;
}

body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family:  p4pc;
	color:#FFFFFF;
}

#bg {
    position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

#c1name {
	left:250px;
	top:170px;
    text-align: left;
    color: rgb(255, 255, 255);
	font-size:49px;
}

#c1plug {
	left:280px;
	top:217px;
    text-align: left;
    color: rgb(56, 149, 255);
	font-size:40px;
}

#c1nav {
	position:absolute;
	top:80px;
	left:0px;
    z-index: 3;
	left:0px;
}
#c1navbg {
	position:absolute;
	left:10px;
	top:165px;
    z-index: 2;
	left:0px;
    transform:scaleX(-1);
}
#c1navef {
	position:absolute;
	top:165px;
	left:0px;
    transform:scaleX(-1);
}


#c2name {
	left:1370px;
	top:170px;
    text-align: right;
    color: rgb(255, 255, 255);
	font-size:49px;
}

#c2plug {
	left:1340px;
	top:217px;
    text-align: right;
	letter-spacing: 1px;
    color: rgb(56, 149, 255);
	font-size:40px;
}

#c2nav {
	position:absolute;
	top:80px;
	left:1664px;
    z-index: 3;
}
#c2navbg {
	position:absolute;
	top:165px;
	left:1664px;
    z-index: 2;
}
#c2navef {
	position:absolute;
	top:165px;
	left:1664px;
    z-index: 1;
}

#p4pc {
    position:absolute;
	top:0px;
	left:810px;
	width:369px;
	height:300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url('../images/p4pc.png');
}