@font-face {
	font-family: 'p4pc';
	src:url('fonts/LeagueGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'p4pctitle';
	src:url('fonts/earthsmightiestexpand.ttf') format('truetype');
}