@font-face {
	font-family: 'p4pc';
	src:url('fonts/LeagueGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'p4pcscore';
	src:url('fonts/earthsmightiestexpand.ttf') format('truetype');
}


body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family:  p4pc;
	color:#FFFFFF;/*#FFFFFF*/
}

.playertag {
	position: absolute;
	width: 620px;
    overflow: visible;
    z-index: 100;
	letter-spacing: 1px;
	font-size:90px;
		text-transform: uppercase;
	text-shadow: 
	    2px 2px #000,
		2px 2px #000;
}

.title {
	position:absolute;
	overflow: visible;
    z-index: 100;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:rgb(255, 212, 0);
	-webkit-text-stroke: 1px black;
}

#bg {
    position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

#title {
	left:810px;
	top:38px;
	width:300px;
    text-align: center;
	font-size:55px;
	text-shadow: 
	    3px 3px #000,
		3px 3px #000;
}

#p1n {
	left:130px;
	top:38px;
}

#p2n {
	left:1170px;
	top:38px;
	text-align: right;
	z-index: 101;
}

#wfintitle {
	left:260px;
	top:10px;
	width:330px;
	font-size:30px;
	text-shadow: 
	    3px 3px #000,
		3px 3px #000;
}

#p1board {
    position:absolute;
	top:0px;
	left:0px;
	width:860px;
	height:139px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url('../images/texbox.png');
}

#p2board {
    position:absolute;
	top:0px;
	left:1060px;
	width:860px;
	height:139px;
	z-index: 100;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url('../images/texbox.png');
    transform: scaleX(-1);
}

#lfintitle {
	left:1330px;
	top:9px;
	width:330px;
	text-align: right;
	font-size:30px;
	text-shadow: 
	    3px 3px #000,
		3px 3px #000;
}

#p1c {
	position:absolute;
	left:0px;
	top:280px;
}

#p2c {
	position:absolute;
	left:0px;
	top:280px;
	translate: scaleX(-1);
}

#p1chartitle {
	position:absolute;
	left:300px;
	top:920px;
	z-index: 100;
}

#p2chartitle {
	position:absolute;
	left:1280px;
	top:920px;
	z-index: 100;
}