@font-face {
	font-family: 'p4pc';
	src:url('fonts/LeagueGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'p4pcscore';
	src:url('fonts/earthsmightiestexpand.ttf') format('truetype');
}

.playertag {
	position: absolute;
	width:330px;
	letter-spacing: 1px;
	font-size:40px;
	text-transform: uppercase;
	text-shadow: 
	    2px 2px #000,
		2px 2px #000;
}

.playerscore {
	position:absolute;
	width:47px;
	font-family: p4pcscore, Arial, Helvetica, sans-serif;
	font-size:40px;
	text-align:center;
	font-weight: bold;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}

body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family:  p4pc;
	color:#FFFFFF;/*#FFFFFF*/
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
	background-image:url('../images/Scoreboard_Round.png');
}

#p1board {
	position: absolute;
	top: 4px;
	left: 275px;
	width:450px;
	height:50px;
	transform: scaleX(-1);
	background-image:url('../images/Left_Scoreboard.png');
}

#p2board {
	position: absolute;
	top: 5px;
	left: 1200px;
	width:450px;
	height:50px;
	transform: scaleX(-1);
	background-image:url('../images/Right_Scoreboard.png');
}

#pName1 {
	left:300px;
	top:9px;
}
#pName2 {
	left:1290px;
	top:8px;
	text-align:right;
}

#pScore1 {
	left:665px;
	top:7px;
}
#pScore2 {
	left:1215px;
	top:7px;
}

#mText3 {
	color: #FFF;
	position: absolute;
	left: 790px;
	top: 4px;
	width: 350px;
	font-size: 35px;
	font-family: p4pc;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 
	    2px 2px #000,
		2px 2px #000;
}
